{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <br />
    <h1>F1 Championship standings</h1>
    <p class="lead">The current standings of the 2018 Formula 1 Championship</p>

    <table class="table">
        <tr>
            <th width="10">Current Place</th>
            <th>Driver</th>
            <th class="points">Points</th>
        </tr>
    <tr>
        <td>1</td>
        <td>
            {% for driver in names[0] %}{{driver}}{% endfor %}
        </td>
        <td class="points">
            {% for point in points[0] %}{{ point }}{% endfor %}
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>
            {% for driver in names[1] %}{{driver}}{% endfor %}
        </td>
        <td class="points">
            {% for point in points[1] %}{{ point }}{% endfor %}
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>
            {% for driver in names[2] %}{{driver}}{% endfor %}
        </td>
        <td class="points">
            {% for point in points[2] %}{{ point }}{% endfor %}
        </td>
    </tr>            <tr>
        <td>4</td>
        <td>
            {% for driver in names[3] %}{{driver}}{% endfor %}
        </td>
        <td class="points">
            {% for point in points[3] %}{{ point }}{% endfor %}
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>
            {% for driver in names[4] %}{{driver}}{% endfor %}
        </td>
        <td class="points">
            {% for point in points[4] %}{{ point }}{% endfor %}
        </td>
    </tr>
    <tr>
        <td>6</td>
        <td>
            {% for driver in names[5] %}{{driver}}{% endfor %}
        </td>
        <td class="points">
            {% for point in points[5] %}{{ point }}{% endfor %}
        </td>
    </tr>
    <tr>
        <td>7</td>
        <td>
            {% for driver in names[6] %}{{driver}}{% endfor %}
        </td>
        <td class="points">
            {% for point in points[6] %}{{ point }}{% endfor %}
        </td>
    </tr>
    <tr>
        <td>8</td>
        <td>
            {% for driver in names[7] %}{{driver}}{% endfor %}
        </td>
        <td class="points">
            {% for point in points[7] %}{{ point }}{% endfor %}
        </td>
    </tr>
    <tr>
        <td>9</td>
        <td>
            {% for driver in names[8] %}{{driver}}{% endfor %}
        </td>
        <td class="points">
            {% for point in points[8] %}{{ point }}{% endfor %}
        </td>
    </tr>
    <tr>
        <td>10</td>
            <td>
                {% for driver in names[9] %}{{driver}}{% endfor %}
            </td>
            <td class="points">
                {% for point in points[9] %}{{ point }}{% endfor %}
            </td>
        </tr>
    <tr>
        <td>11</td>
            <td>
                {% for driver in names[10] %}{{driver}}{% endfor %}
            </td>
            <td class="points">
                {% for point in points[10] %}{{ point }}{% endfor %}
            </td>
        </tr>
    <tr>
        <td>12</td>
            <td>
                {% for driver in names[11] %}{{driver}}{% endfor %}
            </td>
            <td class="points">
                {% for point in points[11] %}{{ point }}{% endfor %}
            </td>
        </tr>
    <tr>
            <td>13</td>
            <td>
                {% for driver in names[12] %}{{driver}}{% endfor %}
            </td>
            <td class="points">
                {% for point in points[12] %}{{ point }}{% endfor %}
            </td>
        </tr>
    <tr>
        <td>14</td>
            <td>
                {% for driver in names[13] %}{{driver}}{% endfor %}
            </td>
            <td class="points">
                {% for point in points[13] %}{{ point }}{% endfor %}
            </td>
    </tr>
        <tr>
            <td>15</td>
            <td>
                {% for driver in names[14] %}{{driver}}{% endfor %}
            </td>
            <td class="points">
                {% for point in points[14] %}{{ point }}{% endfor %}
            </td>
        </tr>            <tr>
            <td>16</td>
            <td>
                {% for driver in names[15] %}{{driver}}{% endfor %}
            </td>
            <td class="points">
                {% for point in points[15] %}{{ point }}{% endfor %}
            </td>
        </tr>
        <tr>
            <td>17</td>
            <td>
                {% for driver in names[16] %}{{driver}}{% endfor %}
            </td>
            <td class="points">
                {% for point in points[16] %}{{ point }}{% endfor %}
            </td>
        </tr>
        <tr>
            <td>18</td>
            <td>
                {% for driver in names[17] %}{{driver}}{% endfor %}
            </td>
            <td class="points">
                {% for point in points[17] %}{{ point }}{% endfor %}
            </td>
        </tr>
        <tr>
            <td>19</td>
            <td>
                {% for driver in names[18] %}{{driver}}{% endfor %}
            </td>
            <td class="points">
                {% for point in points[18] %}{{ point }}{% endfor %}
            </td>
        </tr>
        <tr>
            <td>20</td>
            <td>
                {% for driver in names[19] %}{{driver}}{% endfor %}
            </td>
            <td class="points">
                {% for point in points[19] %}{{ point }}{% endfor %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}